.editor-wrapper{
	max-width: 60em;
	margin: 0 auto;
	padding: 2em;
}
.note-body-header{
	display: flex;
	flex-direction: row;
	background-color: #c7c7c7;
	justify-content: space-between;
	width: 50vw;
	align-items: center;
	margin: 1em 0;
	border-radius: 5px;
	padding: 0.2em 1em;
}
.note-title{
	font-size: 1rem;

	font-weight: 700;
}
.note-options{
	display: flex;
	gap: 2em;
	justify-content: space-around;
	align-items: center;
}
.save-note{
	width: 5em;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 600;
	background-color: #4fdcb0;
	border: 0.2px solid gray;
}